body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

body {
  background: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

.navbar {
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #6d4c41;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline;
  margin-left: 20px;
}

.nav-links a {
  color: #333;
  text-decoration: none;
}

.hero {
  background: url('./images/bg.jpg') no-repeat center center/cover;
  color: #fff;
  text-align: center;
  padding: 100px 0;
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.hero-button {
  background-color: #6d4c41;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.hero-button:hover {
  background-color: #543930;
}

.coffee-selection {
  display: flex;
  width: 85%;
  flex-direction: column;
  margin: 20px auto;
}

#coffeeForm {
  display: grid;
  margin-top: 10px;
  grid-template-rows: 1fr 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 30px;
  
  justify-items: center;
  align-items: start;
  
  /* border: 1px solid black; */ /* Used as visual representation of grid loyout*/
}

#espressoCoffee {
  grid-column: 1;
  grid-row: 2; 
}

#latteCoffee {
  grid-column: 2;
  grid-row: 2;


}

#priceOrder {
  grid-column: 1 / 4;
  grid-row: 2;
  
  justify-self: start;
  align-self: start;
}


.coffee-choice {
  padding: 0px;
  margin-bottom: 15px;
  border-radius: 5px;
  
  position: relative;
  transition: transform 0.3s ease;
}
.coffee-choice:hover {
  transform: scale(1.03);
}

.coffee-img {
  object-fit: cover;
  margin-bottom: 0px;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

}

.coffee-option {
  background-color: #ffffffcd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: transform 0.3s ease;
}

/*
.coffee-option:hover {
  transform: scale(1.03);
}
*/


.submenu {
  display: none;
  background-color: #f9f9f9dd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.total-price {
  text-align: center;
  margin-top: 20px;
  font-size: 1.2rem;
  color: #6d4c41;
}

.total-price p {
  margin: 10px 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  display: inline-block;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.total-price span {
  font-weight: bold;
  font-size: 1.4rem;
  color: #543930;
}

.total-price button#submitOrder {
  background-color: #6d4c41;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.4rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.total-price button#submitOrder:hover{
  background-color: #543930;
  transform: translateY(-2px);
}

.order-details {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 80%;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.social-links a {
  color: #4CAF50;
  text-decoration: none;
  margin: 0 10px;
}